
/*

dark-gray: #545454;
darker-gray: #424242;
orange: #FF7300;
light-orange: #FFB67A;
light-faded-orange: #C99163;
orange-brown: #C95B00;
blue: #005EFF;

*/

$lightest-gray: #FAFAFA;
$lighter-gray: #F0F0F0;
$red-color: #D93636;
$orange-color: #F28911;
$green: #14A825;
$light-green: #61B86B;
$off-blk-txt-color: #292929;

$lighter-blue: #BACEE6;
$light-blue: #5E9DE6;
$blue: #006AE3;
$blue2: #005EFF;

$lighter-oj: #F5DCBC;
$light-oj: #F5B664;
$oj: #F58B00;
$oj2: #FF7300;

$dark-gray: #545454;
$darker-gray: #424242;